<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="com.github.wreulicke.logging" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
